@import './syntax.scss';

:host {
	box-sizing: border-box;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
		// scroll-behavior: smooth;
	}

	*::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	*::-webkit-scrollbar-thumb {
		background: hsla(0, 0%, 35%, 0.3);
		border-radius: var(--sl-border-radius-large);

		// FIXME:
		&:hover {
			background: hsla(0, 0%, 85%, 0.3);
		}
	}

	*::-webkit-scrollbar-track {
		background: hsla(0, 0%, 0%, 0.1);
		border-radius: var(--sl-border-radius-large);
		box-shadow: inset 0 0 3px var(--sl-color-gray-50);
	}

	*::-webkit-scrollbar-corner {
		background: transparent;
	}

	::selection {
		color: var(--sl-color-primary-950);
		background-color: var(--sl-color-primary-200);
	}

	--footer-height: 0rem; //3.25rem;;
}

pre,
code {
	font-family: var(--sl-font-mono);
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.875rem;
	border-bottom: solid var(--docs-border-width) var(--docs-border-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1.2em 0 1.2em 0;
	font-family: var(--sl-font-sans);
	font-weight: var(--sl-font-weight-semibold);
}

/* stylelint-disable-next-line no-duplicate-selectors */
:host {
	width: 100%;
	width: 100vw;
	height: 100vh;

	// ---------------------

	overflow-x: hidden;
	font: 16px var(--sl-font-sans);
	font-weight: var(--sl-font-weight-normal);
	line-height: var(--sl-line-height-normal);
	color: var(--sl-color-neutral-900);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

a {
	&,
	&:visited {
		color: var(--sl-color-primary-700);
	}

	&:hover {
		color: var(--sl-color-primary-800);
	}
}

.app {
	height: 100%;

	& > .wrapper {
		display: flex;
		width: 100%;
		height: calc(100vh - var(--footer-height));
		// padding: 0rem 0.25rem 0rem 0.5rem;
		overflow: hidden;

		.demo-switcher {
			flex-basis: 50%;
		}

		aside {
			flex-basis: 50%;
		}
	}
}

.debugger-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.debugger {
	position: relative;
	display: block;
	display: flex;
	flex-grow: 1;
	gap: 0.5em;
	width: 100%;
	margin: 0;
	overflow: scroll;
	color: var(--sl-color-neutral-800);
	background-color: var(--sl-color-gray-0);

	pre {
		width: 100%;
		padding: 0.5em 1em 1em 0.5em;
		margin: 0;
	}

	.bg {
		position: sticky;
		left: 0;
		z-index: -1;
		width: 7rem;
		height: 100%;
		background-color: var(--sl-color-neutral-0);
	}
}

.line-highlight {
	padding: 0.5em 0em 0em 0rem;
	margin-left: -1rem;

	.changed {
		position: relative;

		&::before {
			position: absolute;
			z-index: -1;
			width: calc(32vw);
			height: 100%;
			pointer-events: none;
			content: '';
			background: linear-gradient(
				to right,
				transparent,
				var(--sl-color-emerald-500) 4vw,
				var(--sl-color-emerald-500) 14vw,
				transparent
			);
			opacity: 0.5;
			animation: pulse-animation 1s infinite alternate linear;
		}

		--col: var(--sl-color-neutral-50);
		// --col: hsla(0, 0%, 100%, 0.5);
		// @media (prefers-color-scheme: dark) {
		// 	background-color: hsla(0, 0%, 2%, 0.1);

		// 	--col: hsla(0, 0%, 0%, 0.5);
		// }

		&::after {
			position: absolute;
			top: 3px;
			z-index: -1;
			width: calc(32vw);
			height: calc(100% - 6px);
			pointer-events: none;
			content: '';
			background: linear-gradient(
				to right,
				transparent,
				var(--col) 4vw,
				var(--col) 23vw,
				transparent
			);
		}
	}
}

.assistant {
	position: relative;

	header {
		position: sticky;
		top: 0;
		right: 10px;
		display: flex;
		gap: 1em;
		padding: 0.3em 0.9em;
		font-size: var(--sl-font-size-small);
		font-weight: var(--sl-font-weight-semibold);
		text-align: right;
		background-color: var(--sl-color-neutral-0);
		border: 1px solid var(--sl-color-neutral-100);
		border-top: none;
		border-right: none;
		border-radius: 0 0 0 var(--sl-border-radius-large);
		box-shadow: var(--sl-shadow-small);

		.title {
			padding-left: 1em;
			border-left: 1px solid var(--sl-color-neutral-100);
		}
	}

	sl-breadcrumb-item::part(label) {
		font-weight: var(--sl-font-weight-normal);
		color: var(--sl-color-neutral-700);
		pointer-events: none;
	}

	sl-breadcrumb-item:last-of-type::part(label) {
		font-weight: var(--sl-font-weight-bold);
		color: var(--sl-color-neutral-800);
	}

	sl-breadcrumb-item:first-of-type::part(label) {
		font-weight: var(--sl-font-weight-bold);
	}

	&.data sl-breadcrumb-item:first-of-type::part(label) {
		color: var(--sl-color-fuchsia-500);
	}

	&.schema sl-breadcrumb-item:first-of-type::part(label) {
		color: var(--sl-color-orange-500);
	}

	&.ui sl-breadcrumb-item:first-of-type::part(label) {
		color: var(--sl-color-lime-500);
	}

	// &.settings sl-breadcrumb-item:first-of-type::part(label) {
	// 	// color: var(--sl-color-primary-500);
	// }
}

.line-numbers {
	// position: sticky;
	// left: 0;
	padding: 0.5em 0em 0em 0rem;
	font-family: var(--sl-font-mono);
	color: var(--sl-color-neutral-400);
	text-align: right;
	user-select: none;
	background-color: var(--sl-color-neutral-0);

	& > * {
		padding: 0 1em 0 0.75em;
		// HACK
		background-color: var(--sl-color-neutral-0);
		transition: background-color 0.75s color 0.5s;
	}

	.changed {
		position: relative;
		z-index: 0;
		color: var(--sl-color-neutral-900);
		border-radius: 0 var(--sl-border-radius-medium)
			var(--sl-border-radius-medium) 0;
		transition:
			background-color 0.35s,
			color 0.25s;
		transform: translateX(0.5em);

		.assistant.data & {
			background-color: var(--sl-color-fuchsia-100);
		}

		.assistant.schema & {
			background-color: var(--sl-color-orange-100);
		}

		.assistant.ui & {
			background-color: var(--sl-color-lime-100);
		}

		// .assistant.bottom-right & {
		// 	background-color: var(--sl-color-lime-100);
		// }

		@keyframes pulse-animation {
			0% {
				transform: scaleY(0.8);
			}

			100% {
				transform: scaleY(1);
			}
		}
	}
}

.assistants {
	height: calc(100vh - var(--footer-height));
	padding: 0rem 0;

	.split {
		height: 100%;

		// & > * {
		// 	height: 100%;
		// }
	}

	.split-horizontal {
		display: flex;
		flex-direction: row;
	}

	.gutter {
		background-color: var(--sl-color-neutral-50);
		background-repeat: no-repeat;
		background-position: 50%;

		&:hover {
			background-color: var(--sl-color-neutral-200);
		}
	}

	.gutter.gutter-horizontal {
		cursor: col-resize;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
		opacity: 0.4;
	}

	.gutter.gutter-vertical {
		cursor: row-resize;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
		opacity: 0.4;
	}
}

aside {
	flex-grow: 1;
	// padding: 0rem 4rem 0rem 4rem;
	overflow: hidden;
	box-shadow: var(--sl-shadow-x-large);
	// height: calc(100vh - 5rem);
	// width: 30%;
}

main {
	display: flex;
	justify-content: center;
	width: 100%;
	height: calc(100vh - var(--footer-height));
	padding: calc(1rem + 0.5vw) 2vw 6vw 2vw;
	overflow-y: scroll;
}

json-schema-form {
	display: block;
	width: 100%;
	max-width: calc(42rem);
	padding-bottom: 10rem;

	// HACK
	&::after {
		display: block;
		height: 7rem;
		font-size: var(--sl-font-size-2x-large);
		color: var(--sl-color-gray-100);
		text-align: center;
		content: '∞';
	}
}

.toolbar {
	display: flex;
	gap: var(--sl-spacing-medium);
	align-items: center;
	justify-content: space-between;
}

sl-tab-panel::part(base) {
	padding: 0;
}

.main-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: var(--sl-spacing-small) var(--sl-spacing-small) 0
		var(--sl-spacing-small);
	box-shadow: var(--sl-shadow-x-large) inset;
}

.app-infos {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: flex-start;
	padding: var(--sl-spacing-small) var(--sl-spacing-small) 0
		var(--sl-spacing-small);
	font-size: var(--sl-font-size-small);
	color: var(--sl-color-neutral-700);
	background-color: var(--sl-color-neutral-0);

	a {
		opacity: 0.875;
		transition: opacity 0.25s;

		img {
			box-shadow: var(--sl-shadow-x-large);
		}
	}

	&:hover {
		opacity: 1;

		a {
			opacity: 1;
		}
	}
}

.demo-switcher {
	display: flex;
	// flex-basis: 40%;
	min-width: calc(32rem + 17vw);
	// margin: 0 calc(0.25rem + 1vw) calc(0.25rem + 1vw) 0;
	margin-right: 0.25rem;

	sl-tab-group::part(tabs) {
		margin-top: 2vh;
		box-shadow: var(--sl-shadow-x-large);
	}
}

.assistant.settings {
	// width: 100%;
	// overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;

	.title {
		padding: 0;
		margin: 0.5em 1em;
		font-size: var(--sl-font-size-x-large);
	}

	.settings-list {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 2em;
		// height: 80%;
		// padding: var(--sl-spacing-large);
		padding: 0 var(--sl-spacing-large) var(--sl-spacing-large)
			var(--sl-spacing-large);
		overflow: scroll;
		// overflow: hidden;

		.palette {
			width: 2em;
			height: 1em;
			margin-right: 1em;
			background-color: var(--color);
			border-radius: var(--sl-border-radius-pill);
		}
	}
}

sl-tree {
	--indent-guide-width: 1px;
}

// .assets-tree {
// }

sl-icon[name='cone-striped'] {
	color: var(--sl-color-warning-300);
}

.theme-label {
	display: flex;
	align-items: center;
}

sl-radio-group::part(form-control-label) {
	font-size: var(--sl-font-size-x-large);
	font-weight: 200;
}

.lib-name {
	max-width: 19ch;
	padding: 0 var(--sl-spacing-x-small) 0 var(--sl-spacing-x-small);
	font-size: var(--sl-font-size-large);
	font-weight: var(--sl-font-weight-light);

	strong {
		font-weight: var(--sl-font-weight-semibold);
	}

	a {
		display: block;
		margin: 0.5rem 0;
	}
}

.uilib-icon {
	position: relative;
	margin-right: 1ch;

	svg {
		width: 1.3334ch;
		height: 1.3334ch;
		margin-top: 0.18rem;
	}
}
