@import '@shoelace-style/shoelace/dist/themes/light.css';
@import '@shoelace-style/shoelace/dist/themes/dark.css';

@import './themes.scss';

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	padding: 0;
	margin: 0;
}

html.sl-theme-dark {
	body {
		background-color: var(--sl-color-neutral-0);
	}
}
