/* stylelint-disable no-invalid-position-at-import-rule */

// Carbon

@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/themes';

@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap';

:root {
	--cds-font-sans: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

.cds-theme-light {
	@include theme.theme(themes.$white);
}

.cds-theme-dark {
	@include theme.theme(themes.$g100);
}

// All - Accent color switcher

$colors: 'gray', 'red', 'orange', 'amber', 'yellow', 'lime', 'green', 'emerald',
	'teal', 'cyan', 'sky', 'blue', 'indigo', 'violet', 'purple', 'fuchsia', 'pink',
	'rose';

@each $color in $colors {
	[data-theme-accent='#{$color}'] {
		// Shoelace
		--sl-color-primary-50: var(--sl-color-#{$color}-50);
		--sl-color-primary-100: var(--sl-color-#{$color}-100);
		--sl-color-primary-200: var(--sl-color-#{$color}-200);
		--sl-color-primary-300: var(--sl-color-#{$color}-300);
		--sl-color-primary-400: var(--sl-color-#{$color}-400);
		--sl-color-primary-500: var(--sl-color-#{$color}-500);
		--sl-color-primary-600: var(--sl-color-#{$color}-600);
		--sl-color-primary-700: var(--sl-color-#{$color}-700);
		--sl-color-primary-800: var(--sl-color-#{$color}-800);
		--sl-color-primary-900: var(--sl-color-#{$color}-900);
		--sl-color-primary-950: var(--sl-color-#{$color}-950);

		// Carbon

		--cds-focus: var(--sl-color-#{$color}-500);

		&.cds-theme-light {
			--cds-button-primary: var(--sl-color-#{$color}-600);
			--cds-button-primary-hover: var(--sl-color-#{$color}-500);
		}

		&.cds-theme-dark {
			--cds-button-primary: var(--sl-color-#{$color}-200);
			--cds-button-primary-hover: var(--sl-color-#{$color}-300);
		}

		//// NOTE: UNUSED FOR NOW (unstylable thru shadow root)
		--wired-accent-color: var(--sl-color-#{$color}-700);
	}
}

// Material

@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';

// Wired

@import 'https://fonts.googleapis.com/css2?family=Gloria+Hallelujah:wght@400;500;700&display=swap';
